<h1>Welcome {{ user.username }}</h1>
<p>This is your profile page</p>

<button>
    <a href="/auth/user-profile">Reload the page</a>
</button>




<li class="nav-item">
    <form method="POST" action='/auth/logout'>
      <button class="nav-link logout-btn" type="submit">Logout</button>
    </form>
  </li>