   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/UserProfileStyle.css" />

</head>
  <body class="masterhead" >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../images/portfolio/profile.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
          <h1>{{ user.username }}</h1>
          <p class="lead">Recreational Diver</p>
          <ul class="list-unstyled">
            <li><i class="fas fa-envelope"></i>{{ user.email }}</li>
            <li><i class="fas fa-map-marker-alt"></i> Vancouver, Canada </li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2 class="text-primary" >About Me</h2>
          <p>I'm a passionate recreational diver who loves exploring the underwater world. 
             I've visited dive locations worldwide and can't wait for my next adventure. 
             The beauty and fragility of the ocean have taught me to respect and preserve it. 
             I'm always inspired by the magic of the ocean and the new species I encounter.
          </p>
          <h3>Dive License</h3>
          <ul>
            <li>Padi Open Water Diver</li>
            <li>Advanced Open Water Diver</li>
          </ul>
        </div>
      </div>
    </div>









<a id="myLogbookBtn" href="/dive/my-logbook" class="btn btn-primary" role="button">My Logbook</a>

   






    <form method="POST" action='/auth/logout'>
      <button id="logoutBtn" class="btn btn-danger logout-btn" type="submit">Logout</button>
    </form>
