
<section class="page-section pt-6 pb-0 mt-6 mb-0" >
            <div class="container px-4 px-lg-5">
                <div class="text-center"> <h1> Error</h1>
                <h2>There was an error on the server! Check the console!</h2>
                <a class="btn btn-primary mt-5" href="javascript:javascript:history.go(-1)">Go back to previous page</a>
                </div>
        </div>
    </div>