<section class="page-section pt-6 pb-0 mt-6 mb-0" >
            <div class="container px-4 px-lg-5">
                <div class="text-center"> <h1> 404 Error</h1>
                <h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened</h2>
                <a class="btn btn-primary mt-5" href="javascript:javascript:history.go(-1)">Go back to previous page</a>
                </div>
        </div>
    </div>