body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.logout-btn button {
  position: absolute;
  right: 15;
  margin-top: -25px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10;
}