body {
    margin-top: 180px;
    background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 42, 255)); ;
}

#myLogbookBtn {
    margin-left: 25px;
    
}

#logoutBtn {
    margin-left: 25px;
    margin-top: 25px;
}