<h1>Hello {{username}} </h1>

<form method="post" action="/dive">
    <label>
        Location:
        <input type="text" name="location" />
    </label>
    <label>
        Date:
        <input type="date" name="date" />
    </label>
    <label>
        Dive number:
        <input type="number" name="diveNumber" />
    </label>

    <label> time in:
        <input type="time" name="timeIn">
    </label>
    <label> time out:
        <input type="time" name="timeOut">
    </label>
    <label>
        Bottom time:
        <input type="number" name="bottomTime">
    </label>
    <label>
        Depth:
        <input type="number" name="depth">
    </label>
    <label>
        Air start:
        <input type="number" name="airStart">
    </label>
    <label>
        Air end:
        <input type="number" name="airEnd">
    </label>
    <label>
        Visibility:
        <input type="string" name="Visibility">
    </label>
    <label>
        Comment:
        <textarea name="comment" cols="30" rows="4"> </textarea>
    </label>

    <button type="submit"> Create log</button>
